@font-face {
    font-family: font;
    src: url('/fonts/vinosatravel_font.ttf');
}

h1 {
    font-family: font;
   
}

h2 {
    font-family: font;
    
}

nav {
    font-family: font;
    
}

#menu-wrapper {
    font-family: font;
}