@font-face {
    font-family: font;
    src: url('/fonts/vinosatravel_font.ttf');
}

h1 {
    font-family: font;
   
}

h2 {
    font-family: font;
    
}

nav {
    font-family: font;
    
}

#menu-wrapper {
    font-family: font;
}

p.uppercase {
    text-transform: uppercase;
  }
  
a.lowercase {
    text-transform: lowercase;
  }
  
p.capitalise {
    text-transform: capitalize;
  }